body {
    margin: auto;
    font-family: "Space Grotesk", sans-serif;
    font-size: 13px;
    background-color: #EEEEEE;
    color: #162328;
    max-width: 400px;
    position: relative;
    transition: all ease 0.15s;
}

.container {
    margin: auto;
    display: flex;
    flex-direction: column;
    max-width: 100vh;
    min-height: 100vh;
    background-color: white;
}

header {
    display: flex;
    text-align: left;
    height: 70px;
}

.hero-title {
    margin: 0;
    font-size: 26px;
    margin: 18px 12px;
    color: white;
    position: absolute;
    pointer-events: none;
    z-index: 1;
}

.hero-treats {
    color: #3FC060;
}

.hero-img {
    width: 100%;
    object-fit: cover;
    position: relative;
}

.menu {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.menu-item-container {
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
}

.item-img {
    display: flex;
    justify-content: center;
    width: 75px;
    font-size: 30px;
    padding-top: 10px;
    pointer-events: none;
}

.item-info {
    margin: auto;
    margin-top: 3px;
    margin-left: 10px;
    pointer-events: none;
}

.item-name {
    font-size: 18px;
    font-weight: bold;
}

.item-ingredients {
    color: #878787;
    font-weight: bold;
    margin-bottom: 5px;
}

.item-price {
    font-weight: bold;
}

.add-button {
    border: 1px grey solid;
    background-color: white;
    font-size: 14px;
    font-weight: bold;
    font-family: "Roboto";
    border-radius: 50%;
    padding: 10px 14px;
    margin: auto 0px;
    transition: all ease 0.15s;

    &:active {
        color: white;
        background-color: #162328;
        border-color: #162328;
    }
}


.divider {
    height: 2px;
    width: 100%;
    margin: 6px 0;
    background-color: #EEEEEE;
}

.toggle-container {
    display: flex;
    text-align: center;
    padding: 6px 0px;
    margin: 10px auto;
    background-color: #EEEEEE;
    border-radius: 25px;
}

.toggle-option {
    font-size: 15px;
    width: 90px;
    padding: 8px 2px;
    transition: all ease 0.2s;
    margin: 0px 6px;
    user-select: none;
}

.selected {
    background-color: #162328;
    color: white;
    border-radius: 24px;
    pointer-events: none;
}

.delivery-option {
    margin-right: 0px;
}

.pickup-option {
    margin-left: 0px;
}

.checkout-container {
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
    background-color: white;
    z-index: 10;
    overflow-y: auto;
}

.orders-heading {
    margin: 12px auto;
    pointer-events: none;
}

.orders-list {
    display: flex;
    flex-direction: column;
}

.orders-item-container {
    display: flex;
    justify-content: space-between;
    margin: 2px 0px;
}

.orders-item-name {
    font-size: 16px;
    font-weight: bold;
}

.orders-item-price {
    font-weight: bold;
    pointer-events: none;
}

.remove-btn {
    font-size: 13px;
    margin-left: 10px;
    color: #878787;
    cursor: pointer;
}

.total-container {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: bold;
    pointer-events: none;
    margin: 6px 0;
}

.checkout-btn {
    color: white;
    background-color: #162328;
    border: none;
    border-radius: 1px;
    margin-top: 6px;
    margin-bottom: 14px;
    font-family: "Space Grotesk";
    font-weight: bold;
    font-size: 16px;
    padding: 15px 0px;
    transition: all ease 0.15s;

    &:active {
        opacity: 0.8;
    }
}

.payment-modal {
    background-color: white;
    position: absolute;
    top: 30%;
    left: 0;
    z-index: 100;
    font-size: 20px;
    font-weight: bold;
    min-width: 100%;
    padding: 40px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2),
        0 6px 20px rgba(0, 0, 0, 0.15);
    user-select: none;
}

.payment-methods-container {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
    cursor: pointer;
}

.payment-icon-container {
    display: flex;
}

.payment-method-icon {
    width: 60px;
    margin-right: 10px;
}

.upi {
    width: 60px;
    margin-top: -3px;
}

.disabled {
    opacity: 0.5;
    cursor: not-allowed;
    position: relative;
}

.error-message {
    display: none;
    position: absolute;
    font-size: 14px;
    top: -8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 10px;
    background-color: white;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;

    &::after {
        content: '';
        border: 1px solid black;
    }
}

.hidden {
    display: none;
}